#maincontentwrapper {
  width:100%;
}

#bodyContent {
  h1 {
    //margin: $spacer * 2 0 $spacer;
  }

  h2 {
    //margin: $spacer * 1.5 0 $spacer;
    //padding: 0 0 $spacer;
    //border-bottom: 1px solid $gray-300;
  }

  h3 {
    //font-size: $font-size-lg;
    //margin: $spacer * 1 0 $spacer * 0.5;
  }

  p {
    //max-width: $font-size-base * 42;
  }

  ul {
    //padding: $spacer 0 $spacer $spacer;
  }
}