.semorg-dashboard {
	@include media-breakpoint-up(sm) {
		column-count: 1;
	}

	@include media-breakpoint-up(lg) {
		column-count: 2;
	}

	.card {
		border:none;
		border-left: 2px solid var(--bs-gray-200);
		border-radius:0;
		padding-left:0;
		padding-right:20px;
		margin-bottom:1rem;
	}

	.card-header {
		background-color:var(--bs-gray-200);
		border-radius:0;
		font-size:small;
		text-transform:uppercase;
		font-weight:bold;
		padding:10px;
		padding-right:15px;

		.card-header-links {
			font-size:small;

			a {
				color:#000;
				opacity:.5;
				text-decoration:none;

				&:visited {
					color:#000;
				}

				&:hover,
				&:active,
				&:focus {
					opacity:1;
				}
			}
		}

		.btn-sm {
			line-height:1;
		}

		.card-header-links a + a {
			margin-left:10px;
		}
	}

	.card-body {
		padding: .75rem .3rem;
	}
}

#bodyContent .semorg-dashboard .card-body-table {
	margin: -.75rem -.3rem;
}

.semorg-dashboard-default {
	padding: .75rem .3rem;
}
