.semorg-row-name {
	margin-bottom:10px;
}
.semorg-row-name:empty {
	margin-bottom:0;
}
.semorg-row + .semorg-row {
	margin-top:30px;

	&.semorg-row-hidden {
		margin-top:0;
		padding:0;
	}
}

// Sections
.semorg-form .semorg-form-section {
        font-weight:bold;
}
.semorg-row + .semorg-form-section {
        margin-top:50px;
}

.multipleTemplateWrapper {
	.semorg-row-name {
		margin-bottom:0px;
	}
	.semorg-row + .semorg-row {
		margin-top:10px;

		&.semorg-row-hidden {
			margin-top:0;
		}
	}

	.semorg-row {
		@extend .row;
		@extend .g-0;
	}
	.semorg-row-name {
		@extend .col-md-3;
		padding-left:0;
		padding-right:0;
	}
	.semorg-row-field {
		@extend .col-md-12;
		padding-left:0;
		padding-right:0;
	}
	.semorg-row-name + .semorg-row-field {
		@extend .col-md-9;
		padding-left:0;
		padding-right:0;
	}
}

#maincontentwrapper #pfForm .semorg-form-single-field {
	> span {
		> .createboxInput.semorg-field:not([size]),
		> .createboxInput.semorg-field[size="35"] {
			width:95% !important;
		}
	}

	> .comboboxSpan,
	> .inputSpan {
		> .select2-container { // obsolet mit oo-ui
			width:95% !important;

			> .selection,
			> .selection .select2-selection {
				width:100%;
			}
		}

		> .oo-ui-comboBoxInputWidget {
			//width:95% !important;
		}
	}

	> label {
		text-indent: -40px;
		margin-left:40px;

		input[type="checkbox"] {
			left:40px;
		}
	}
}

#maincontentwrapper #pfForm .semorg-form-fields {
	> span {
		> textarea.createboxInput.semorg-field {
			width:95% !important;
		}
	        > span > select.createboxInput.semorg-field {
			width:95% !important;
		}
	}
}

#pfForm .semorg-form {
	.createboxInput, 
	.mandatoryField, 
	textarea,
	.mw-widget-dateInputWidget-handle {
		border-radius: $input-border-radius;
		border-color: $input-border-color;
	}

	input.createboxInput,
	select.createboxInput,
	input.mandatoryField,
	.mw-widget-dateInputWidget-handle {
		height: calc(1.5em + .75rem + 2px);
	}
	
	.oo-ui-textInputWidget {
		//max-width:100%;
	}

	.oo-ui-comboBoxInputWidget-field,
	.mw-widget-dateInputWidget-handle {
		margin-top:-3px;
	}
}

.semorg-restricted {
	color: $primary;

	input,
	textarea,
	select {
		color: $primary !important;
		border-color: $primary !important;
		background-color: tint-color( $primary, 90% ) !important;
	}
}

.semorg-row + .semorg-form-section {
  margin-top: 50px;
}

.semorg-form-section {
  font-weight: 700;
}

// empty labels create white space for coordinates input
.semorg-form label:empty {
	display:none;
}


// SAVE PROMPT
.semorg-prompt-save {
	display:inline-block;
	padding:10px 20px;
	background-color:#f5f5f5;
	border-radius:5px;
	box-shadow:0 0 5px #ddd;

	&-wrapper {
		position:fixed;
		bottom:20px;
		left:0;
		width:100%;
		text-align:center;
		display:none;
	}
}

#semorg-prompt-save-button {
	margin-left:10px;
	position:relative;

	.fa-spinner {
		display:none;
	}

	&.disabled {
		color:rgba(255,255,255,.5);

		.fa-spinner {
			display:block;
			position:absolute;
			left:50%;
			margin-left:-5px;
			top:7px;
			color:white;
		}
	}
}


div.pfPageNameWithoutNamespace {
	width:350px !important;
}


// forminput
body #contentwrapper #maincontentwrapper {
	.semorg-list-formlink {
		.oo-ui-buttonElement-button {
			@extend .btn-secondary;
			@extend .btn-sm;
		}
		.oo-ui-textInputWidget .oo-ui-inputWidget-input {
			@extend .form-control-sm;
		}
	}
}