.semorg-details {
	margin-bottom:30px;
}
.semorg-details-row {
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #edf3f9;
}
.semorg-details-field-name {
	font-size:small;
	color:#666;
	text-transform:uppercase;
}

.semorg-list-row-details {
	font-size:small;
	color:#666;
}

#bodyContent .semorg-list .semorg-detail-heading {
	margin-bottom:5px;
}
.semorg-list-header {
	margin-bottom:5px;
}
.semorg-list-title {
	font-weight:bold;
	font-size:20px;
}
.semorg-list-formlink {
	font-size:small;
}
.semorg-list-formlink .btn-sm {
	line-height:1;
}
.semorg-list-formlink .pfFormInput > p {
	margin-bottom:0;
}
.semorg-list-formlink .forminput_button {
	font-size:small;
	line-height:1;
}
.semorg-list-links {
	border-left:2px solid #dee2e6;
	padding:3px 5px;
	margin-bottom:5px;
	font-size:small;
}
.semorg-list-links-title {
	font-weight:700;
	text-transform:uppercase;
	color:#666;
}
.semorg-list-footer {
	border-left:2px solid #dee2e6;
	padding:3px 5px;
	margin-bottom:15px;
	font-size:small;
	margin-top:-10px;
}


.card-header .btn-sm  {
	line-height:1;
}
body input[type="button"].multipleTemplateAdder {
	line-height:1;
	font-size:small;
}

.semorg-role-inactive {
	text-decoration:line-through;
}
