.semorg-details-row {
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #edf3f9;
}
.semorg-details-field-name {
	font-size:small;
	color:#666;
	text-transform:uppercase;
}


.semorg-list-header {
	border-left:2px solid #dee2e6;
	padding:3px 5px;
	margin-bottom:5px;
}
.semorg-list-title {
	font-weight:bold;
	text-transform:uppercase;
}
.semorg-list-formlink {
	font-size:small;
}
.semorg-list-footer {
	border-left:2px solid #dee2e6;
	padding:3px 5px;
	margin-bottom:15px;
	font-size:small;
	margin-top:-10px;
}
